@import "../package/netflix-sans.scss";
@import "white.scss";

ul.none {
  list-style: none;
}

.reveal {
  font-family: "Netflix Sans", "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 100;

  h1, h2, h3, h4, h5, h6 {
    font-family: "Netflix Sans", "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 700;
  }

  code {
    font-family: "Jetbrains Mono", "Fira Code", monospace;
  }

  section {
    img {
      border: none;
      background: none;
      box-shadow: 0 0 #FFF;
    }
  }

  tbody {
    .imageblock {
      height: 80px;
      width: 50px;

      img {
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        max-height: 50px;
        max-width: 50px;
      }
    }
  }
  
  .paragraph {
    .image {
      height: 120px;
      width: 80px;

      img {
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        max-height: 80px;
        max-width: 80px;
      }
    }    
  }

  table {
    th, td {
      border-bottom: none;
    }
  }

  .attribution {
    p {
      position: fixed;
      bottom: 5px;
      background-color: rgba(255, 255, 0, 0.8);
      font-size: 10px;
      margin: 0;
      padding: 5px;
      right: 0;
    }
  }

}

table {
  border: none !important;

  &.tableblock {
    border: none !important;
  }

  td.tableblock {
    border: none !important;
  }
}

.footer {
  background-image: url("Netflix_Symbol_RGB.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.3em;
  font-size: 0.5em;
  position: fixed;
  bottom: 1em;
  left: 1em;
  color: #888;
}

section[data-background-image] {
  h2 {
    background-color: rgba(255, 255, 0, 0.8);
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.blur {
  img {
    filter: grayscale(1);
    filter: blur(10px);
    filter: opacity(0.15);
  }
}
