name: Build Slidedecks

on:
  pull_request:
    branches: [ "*" ]
  push:
    branches: [ "*" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    env:
      PUPPETEER_CACHE_DIR: ${{ github.workspace }}/.puppeteer_cache
      PUPPETEER_BROWSER_REVISION: '1135561'

    steps:
    - uses: actions/checkout@v5

    - name: Install node
      uses: actions/setup-node@v6
      with:
        node-version: '24.11.1'
        cache: 'npm'

    - name: Cache puppeteer browser
      uses: actions/cache@v4
      with:
        path: ${{ env.PUPPETEER_CACHE_DIR }}
        key: ${{ runner.os }}-puppeteer-${{ env.PUPPETEER_BROWSER_REVISION }}
        restore-keys: |
          ${{ runner.os }}-puppeteer-

    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
            xfonts-utils

    - name: Install npm dependencies
      run: npm ci

    - name: Install font
      run: |
        export PROJECT_ROOT=$PWD
        cd /tmp/
        tar xzvf $PROJECT_ROOT/stylesheet/nflx/font.tgz
        mkdir -p ~/.local/share/fonts
        cp -r package/fonts/*.ttf ~/.local/share/fonts
        chmod 755 ~/.local/share/fonts
        chmod 644 ~/.local/share/fonts/*.ttf
        fc-cache -f -v

    - name: Typecheck scripts
      run: npm run :typecheck

    - name: Build slidedecks and stage pages
      run: npm run :build

    - name: Deploy Github Pages
      uses: JamesIves/github-pages-deploy-action@v4.7.4
      if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main'
      with:
        branch: gh-pages
        folder: pages/build/staging
